<div id="tickets">
  <% @tickets.each do |ticket| %>
    <%= render ticket %>
    <p>
      <% if current_user.manager? %>
        <%= link_to "Leave Comment", new_comment_path(ticket_id: ticket.id) %> | 
        <%= link_to "Change Status", change_status_ticket_path(ticket) %> | 
        <%= link_to "Delete", ticket, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this ticket?" } %> | 
      <% end %>
      <%= link_to "Show this ticket", ticket %>
    </p>
    <br>
  <% end %>
</div>
