<div id="<%= dom_id ticket %>">
  <p>
    <strong>Ticket:</strong>
    <%= ticket.id %>
  </p>

  <p>
    <strong>User Name:</strong>
    <%= ticket.user.name %>
  </p>

  <p>
    <strong>User Email:</strong>
    <%= ticket.user.email %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= ticket.subject %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= ticket.content %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= ticket.status %>
  </p>
</div>
