<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<h1>Tickets</h1>

<% if current_user.manager? %>
  <%= link_to "Switch to Manager Portal", manager_portal_tickets_path %> | 
<% end %>
<%= link_to "New ticket", new_ticket_path %>
<br>
<br>

<div id="tickets">
  <% @tickets.each do |ticket| %>
    <%= render ticket %>
    <p>
      <%= link_to "Show this ticket", ticket %>
    </p>
  <% end %>
</div>

