<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<h1>Tickets</h1>

<%= link_to "New ticket", new_ticket_path %>
<% if current_user.manager? %>
   | <%= link_to "Manager Portal", manager_portal_tickets_path %>
<% end %>
<hr>
<%= render 'statistics' %>
<hr>
<%= render 'search_field' %>

<div id="tickets">
  <% @tickets.each do |ticket| %>
    <%= render ticket %>
    <%= link_to "Show this ticket", ticket %>
  <% end %>
</div>
