<p style="color: green"><%= notice %></p>

<h1>Manager Portal - Tickets</h1>
<p>
  <%= link_to "New ticket", new_ticket_path %> | 
  <%= link_to "View Users", users_path %> | 
  <%= link_to "Homepage", root_url %>
</p>
<hr>

<%= render 'tickets' %>

