<p style="color: green"><%= notice %></p>

<h2>Ticket</h2>

<%= render @ticket %>
<br>
<%= render 'comments/tickets_comments', locals: { ticket: @ticket } if @ticket.comments.any? %>

<div>
  <%= link_to "Back to tickets", tickets_path %>
  <% if current_user.manager? %>
     | <%= link_to "Back to Manager Portal", manager_portal_tickets_path %>
  <% end %>
</div>
